{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/Sign_In.css' %}">
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/extrnal/all.css" rel="stylesheet">
    <link href="../css/extrnal/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Slab&display=swap" rel="stylesheet">
    <title>Sign In For Update</title>
    <link rel="stylesheet" href="../css/Sign_in.css">
</head>

<body>
    <!-- nav bar  -->
    <div class="header">
        <div class="container">
            <div class="logo">
                <i class="fa-solid fa-graduation-cap"></i>
                <div class="name-page">
                    Sign In For Update
                </div>
            </div>
            <div class="links">
                <ul>
                    <li><a href="{% url 'home_page' %}">Home</a></li>
                    <li><a href="{% url 'sign_in' %}">Add Student</a></li>
                    <li><a class="here" href="{% url 'sign_in_for_update' %}">Update Student</a></li>
                    <li><a href="{% url 'search_activity' %}">Search Activity</a></li>
                    <li><a href="{% url 'all_status' %}">All Status</a></li>
                    <li><a href="#Info">Info</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- ----------------------------------------------------------------------------- -->
    <div class="clear"></div>
    <div class="AddForm" >
        <form  method="GET" action="{% url 'sign_in_for_update' %}">
            {% csrf_token %}
            <h3>Sign In For Update</h3>
            <label for="id">ID:</label>
            <input type="number" id="id" name="id" required min="1"><br><br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email"required><br><br>
            <button type="submit" value="Sign In">
                Sign In
            </button>
        </form>
    </div>
    <!------------------------------------------->
    <div class="clear" id="Info"></div>
    <footer class="Info">
        <div class="container">
            <div class="logo">
                <i class="fa-solid fa-graduation-cap"></i>
                <div class="name-page">
                    student affairs
                </div>
                <br>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-square-twitter"></i>
                <i class="fa-brands fa-square-instagram"></i>
            </div>
        </div>
    </footer>
    <script src="{% static 'js/All_functions.js' %}"></script>
</body>

</html>
{% endblock content %}